.layout-footer {
  background: #f6f6f6;
  border-top: 2px solid #e9e9e9;
  padding: 0;
}
.layout-footer-right {
  padding-right: 15px;
}
.layout-footer .ant-layout-sider-children {
  height: 100%;
}
.layout-footer .ant-layout-sider {
  background: transparent;
}

.layout-footer .ant-layout-sider-children,
.layout-footer .ant-row-flex-middle {
  height: 100%;
}
.layout-footer-helpdesk {
  text-align: right;
  padding-right: 15px;
  cursor: help;
}
.layout-footer-helpdesk-logo {
  width: 50px;
  position: relative;
  top: 2px;
}
.layout-footer-helpdesk-title {
  display: block;
  transform: translateY(-50%);
  position: absolute;
  font-size: 1em;
  line-height: 1.1em;
  top: 50%;
  right: 70px;
}
